<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">Add New Actor</ion-title>
    <ion-title *ngIf="!isNew">Actor Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="actor">
  <form (ngSubmit)="!actorForm.valid && logForm()" name="actorForm" #actorForm="ngForm">
    <ion-item>
        <ion-label>Actor Name: </ion-label>
        <ion-input type="text" [(ngModel)]="actor.name" name="name" required></ion-input>
        <div (ngMessages)="actorForm.name.errors" *ngIf="!actorForm.valid && actorForm.submitted">
          <div (ngMessage)="required">Please enter Name for the Actor.</div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Actor Age: </ion-label>
        <ion-input type="text" [(ngModel)]="actor.age" name="age"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Actor Gender: </ion-label>
        <ion-input type="text" [(ngModel)]="actor.gender" name="gender"></ion-input>
      </ion-item>

      <ion-button 
        [disabled]="!auth.can('patch:actors') || !auth.can('post:actors')"
        (click)="saveClicked()" type="submit">Save</ion-button>
      <ion-button *ngIf="!isNew"
        [disabled]="!auth.can('delete:actors')"
        (click)="deleteClicked()">Delete</ion-button>
      <ion-button (click)="closeModal()">Cancel</ion-button>
      

    </form>
</ion-content>