<ion-header>
  <ion-toolbar style="text-align: center; background-color:#edcec0;">
    <ion-title><b>Casting Agency</b> Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movies && movies.items">
<div style="display: flex; flex-direction: column; justify-content: center; padding-top: 20px;">
    <ion-card
     style="opacity: .7; align-items: center; display: flex; flex-direction: row; justify-content: center; cursor: pointer;" 
     *ngIf="auth.can('post:movies')"
     (click)="openForm()">
      <ion-card-header>
        <ion-card-title>Create Movie</ion-card-title>
      </ion-card-header>
   
      <ion-card-content style="color:grey; font-size: 256%; padding-top: 22px;">
        <ion-icon name="add-circle"></ion-icon>
      </ion-card-content> 
     </ion-card>

    <ion-card
     style="align-items: center; display: flex; flex-direction: row; cursor: pointer;" 
     *ngFor="let movie of Object.keys(movies.items)"
     (click)="openForm(movies.items[movie])">
        <ion-card-header>
          <ion-card-title>Title:  <b>{{movies.items[movie].title}}</b></ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>Release Date:  {{movies.items[movie].release_date}}</ion-card-title>
        </ion-card-header>
      </ion-card>
</div>
</ion-content>
