<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Casting Agency</b> Actors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="actors && actors.items">
<div style="display: flex; flex-direction: column; justify-content: center; padding-top: 20px;">
    <ion-card
      style="opacity: .7; align-items: center; display: flex; flex-direction: row; justify-content: center; cursor: pointer;" 
      *ngIf="auth.can('post:actors')"
      (click)="openForm()">
        <ion-card-header>
          <ion-card-title>Add Actor</ion-card-title>
        </ion-card-header>
        <ion-card-content style="color:grey; font-size: 256%; padding-top: 22px;">
          <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
    <ion-card
     style="align-items: center; display: flex; flex-direction: row; cursor: pointer;" 
     *ngFor="let actor of Object.keys(actors.items)"
     (click)="openForm(actors.items[actor])">
        <ion-card-header>
          <ion-card-title>Name:  <b>{{actors.items[actor].name}}</b></ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>Age:  {{actors.items[actor].age}}</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>Gender:  {{actors.items[actor].gender}}</ion-card-title>
        </ion-card-header>
      </ion-card>
</div>
</ion-content>
